/*'Oswald', sans-serif;*/
/*'Redressed', cursive;*/
body {
  margin: 0;
}

.container {
  display: flex;
}

.container > .header_wrapper {
  display: flex;
  background-color: #313030;
  color: white;
  font-family: "Oswald", sans-serif;
  height: 8rem;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
}

.header_wrapper > .header_left p {
  font-size: 2.75rem;
  margin-left: 15px;
  font-family: "Redressed", cursive;
}

.header_middle {
  font-size: 1.8rem;
  width: 50vw;
  background-color: #313030;
}

.header_middle > .header_middle_wrapper {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.header_middle > .header_middle_wrapper a {
  color: grey;
  text-decoration: none;
  height: 100%;
}

.header_middle > .header_middle_wrapper a:hover {
  background-color: rgb(24, 128, 128);
  text-decoration: underline;
  color: white;
}

.header_right {
  font-family: "Redressed", cursive;
  font-size: 2.75rem;
  margin-right: 15px;
}

@media (max-width: 48em) {
  .header_wrapper {
    flex-direction: column;
  }
}
