/*'Oswald', sans-serif;*/
/*'Redressed', cursive;*/
body {
  margin: 0px;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(49, 48, 48, 1) 100%
  );
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.container > .header_wrapper {
  display: flex;
  color: white;
  font-family: "Oswald", sans-serif;
  height: auto;
  justify-content: space-between;
  align-items: center;
}

.header_wrapper > .header_left p {
  font-size: 2.75rem;
  margin-left: 15px;
  font-family: "Redressed", cursive;
}

.header_middle {
  font-size: 1.8rem;
  width: 50%;
}

.header_middle > .links_wrapper {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.header_middle > .links_wrapper a {
  color: grey;
  text-decoration: none;
  text-align: center;
  height: 100%;
  margin: 10px 10px;
}

.header_middle > .links_wrapper a:hover {
  /* font-size: 1.9rem; */
  letter-spacing: 3px;
  /* text-decoration: underline; */
  color: white;
  transition: 0.5s;
  margin: 0px;
}

.header_right {
  font-family: "Redressed", cursive;
  font-size: 2.75rem;
  margin-right: 15px;
}

.homepage_body_wrapper {
  display: flex;
  height: auto;
  flex-direction: column;
  margin: 0;
}

.homepage_body_wrapper p {
  font-size: 3rem;
  color: rgb(155, 154, 154);
  border-bottom: 1px solid #696767;
  font-family: "Redressed", cursive;
  margin: 0px 75px;
}
.homepage_body_wrapper > .body_top_picture {
  display: flex;
  margin: 0;
}

.homepage_body_wrapper > .body_top_picture img {
  height: auto;
  width: 100%;
}

.homepage_body_wrapper > .body_content {
  display: flex;
  margin: 30px 0px;
  justify-content: center;
  align-items: center;
  height: auto;
}

.homepage_body_wrapper > .body_content > .photographs_body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-content: center;
  height: 75vh;
  width: 75vw;
}

.homepage_body_wrapper > .body_content > .photographs_body img {
  height: 200px;
  width: auto;
  margin: 25px 10px;
}

.homepage_body_wrapper > .body_content > .photographs_body img:hover {
  height: 210px;
  width: auto;
  margin: 15px 0px;
  transition: 0.5s;
}

@media (max-width: 48em) {
  .photographs_body {
    display: grid;
    grid-template-columns: 1fr;
  }
  .header_wrapper {
    flex-direction: column-reverse;
  }
  .links_wrapper {
    flex-direction: column;
  }
}

.footer_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border-top: 1px solid grey;
  margin: 0px 50px;
}

.links_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  text-decoration: none;
}

.links_wrapper a {
  color: grey;
  text-decoration: none;
  text-align: center;
  height: 100%;
  margin: 10px 30px;
}

.links_wrapper a:hover {
  color: white;
  letter-spacing: 3px;
  margin: 10px 20px;
}
